
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/vivek_rai04/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://facebook.com/your_facebook" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.linkedin.com/in/vivek-rai-0a4b4621b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div>&copy; QuickNewsify Private Limited</div>

    <div class="f-info-links">
      <a href="/Home/privacy" style="text-decoration: underline;" >Privacy</a>
      <a href="/Home/terms" style="text-decoration: underline;" >Terms</a>
    </div>

    <div class="f-info-email">
      For suggestions or feedback, email us at:
      <a href="mailto:yourname@example.com">thequicknewsify@gmail.com</a>
    </div>
  </div>
</footer>



<style>

.dark footer {
  background-color: #111;
  color: #ccc;
}

.dark footer a {
  color: #4DA3FF;
}

.dark footer i {
  color: white;
}

  footer a {
    color: #4DA3FF;
  }

  footer i {
    color: #aaa;
  }

  .dark-mode {
    background-color: #121212;
    color: white;
  }

  footer {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  color: #007BFF;
  text-decoration: none;
  margin: 0 10px;
}

footer i {
  margin: 0 8px;
  font-size: 1.2rem;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #111;
    color: rgb(4, 126, 4);
  }

  footer a {
    color: rgb(4, 126, 4);
  }

  footer i {
    color: #227604;
  }
}

.f-info-email {
  margin-top: 10px;
  font-size: 0.85rem;
  color: #078909;
}

.f-info-email a {
  color: #007BFF;
  text-decoration: none;
}

.f-info-email a:hover {
  text-decoration: underline;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .f-info-email {
    color: #04880c;
  }

  .f-info-email a {
    color: #4DA3FF;
  }
}



</style>
