<% layout("/layouts/boilerplate") %>
<div class="container  min-vh-100" style="margin-top: 80px ;" >
  <h2>Terms & Conditions</h2>
  <p>By using QuickNewsify, you agree to our terms of service including content usage, fair access, and data integrity.</p>
  <p>We reserve the right to update our terms at any time. Continued use implies acceptance.</p>
</div>
